In [ ]:
# Import NumPy as its abbreviation 'np'
# Create a 1-dimensional NumPy array using np.array()


# Create a 2-dimensional NumPy array using np.array()


# Create a 3-dimensional Numpy array using np.array()

# Attributes of 1-dimensional array (shape, 
# number of dimensions, data type, size and type)
# Attributes of 2-dimensional array
# Attributes of 3-dimensional array

In [5]:
import numpy as np
arr1 = np.array([1,2,3])
print(arr1.ndim)
print(arr1.shape)
print(arr1.dtype)
arr1

1
(3,)
int64

array([1, 2, 3])

In [7]:
arr2 = np.array([[1,2,3],[4,5,6]])
print(arr2.ndim)
print(arr2.shape)
print(arr2.dtype)
arr2

2
(2, 3)
int64

array([[1, 2, 3],
       [4, 5, 6]])

In [8]:
arr3 = np.array([[[1,2,3],[4,5,6],[7,8,9]]])
print(arr3.ndim)
print(arr3.shape)
print(arr3.dtype)
arr3

3
(1, 3, 3)
int64

array([[[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]])

In [ ]:
# Import pandas and create a DataFrame out of one
# of the arrays you've created
# Create an array of shape (10, 2) with only ones
# Create an array of shape (7, 2, 3) of only zeros
# Create an array within a range of 0 and 100 with step 3
# Create a random array with numbers between 0 and 10 of size (7, 2)
# Create a random array of floats between 0 & 1 of shape (3, 5)

In [11]:
import pandas as pd
df = pd.DataFrame({"car":["bmw","merc","audi"]})
df

    car
0   bmw
1  merc
2  audi

In [16]:
ones1 = np.ones((10,2),int)
ones1

array([[1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1]])

In [19]:
zeros = np.zeros((7,2,3),float)
zeros

array([[[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]],

       [[0., 0., 0.],
        [0., 0., 0.]]])

In [20]:
arr4 = np.arange(0,100,3)
arr4

array([ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48,
       51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99])

In [22]:
random_array = np.random.random((3,5))
print(random_array)

[[0.67704982 0.59601161 0.88230206 0.55498422 0.78460403]
 [0.59351782 0.09212284 0.24683906 0.74024007 0.28869553]
 [0.71125501 0.64805558 0.39119011 0.64483678 0.38171947]]

In [ ]:
# Set the random seed to 42
# Create a random array of numbers between 0 & 10 of size (4, 6)
# Create an array of random numbers between 1 & 10 of size (3, 7)
# and save it to a variable

# Find the unique numbers in the array you just created
# Find the 0'th index of the latest array you created
# Get the first 2 rows of latest array you created
# Get the first 2 values of the first 2 rows of the latest array

In [28]:
import random
np.random.seed(42)
random_array_1 = np.random.randint(0,10, size = (4,6))
random_array_1

array([[6, 3, 7, 4, 6, 9],
       [2, 6, 7, 4, 3, 7],
       [7, 2, 5, 4, 1, 7],
       [5, 1, 4, 0, 9, 5]])

In [29]:
random_array_2 = np.random.randint(1,10, size = (4,6))
random_array_2

array([[9, 1, 3, 7, 4, 9],
       [3, 5, 3, 7, 5, 9],
       [7, 2, 4, 9, 2, 9],
       [5, 2, 4, 7, 8, 3]])

In [30]:
np.unique(random_array_2)

array([1, 2, 3, 4, 5, 7, 8, 9])

In [31]:
random_array_2[0]

array([9, 1, 3, 7, 4, 9])

In [32]:
random_array_2[:2]

array([[9, 1, 3, 7, 4, 9],
       [3, 5, 3, 7, 5, 9]])

In [34]:
random_array_2[:2][:2]

array([[9, 1, 3, 7, 4, 9],
       [3, 5, 3, 7, 5, 9]])

In [ ]:
# Create a random array of numbers between 0 & 10 and an array of ones
# both of size (3, 5), save them both to variables
# Add the two arrays together
# Create another array of ones of shape (5, 3)
# Try add the array of ones and the other most recent array together

In [41]:
np.random.seed(0)
ones_2 = np.ones((3,5),int)
random_array_3 = np.random.randint(10, size = (3,5))
arr6 = ones_2 + random_array_3
random_array_4 = np.random.randint(10, size = (5,3))
print(random_array_4)
arr6 + random_array_4.T

[[6 7 7]
 [8 1 5]
 [9 8 9]
 [4 3 0]
 [3 5 0]]

array([[12,  9, 13,  8, 11],
       [17,  5, 14,  6, 10],
       [15, 12, 18,  9,  2]])

In [ ]:
# Create another array of ones of shape (3, 5)
# Subtract the new array of ones from the other most recent array
# Multiply the ones array with the latest array
# Take the latest array to the power of 2 using '**'
# Do the same thing with np.square()
# Find the mean of the latest array using np.mean()
# Find the maximum of the latest array using np.max()
# Find the minimum of the latest array using np.min()
# Find the standard deviation of the latest array
# Find the variance of the latest array
# Reshape the latest array to (3, 5, 1)

In [43]:
arr7 = np.ones((3,5))
arr7

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [46]:
arr8 = random_array_4.T - arr7 
arr8

array([[ 5.,  7.,  8.,  3.,  2.],
       [ 6.,  0.,  7.,  2.,  4.],
       [ 6.,  4.,  8., -1., -1.]])

In [47]:
arr7 * arr8

array([[ 5.,  7.,  8.,  3.,  2.],
       [ 6.,  0.,  7.,  2.,  4.],
       [ 6.,  4.,  8., -1., -1.]])

In [48]:
arr8 ** 2

array([[25., 49., 64.,  9.,  4.],
       [36.,  0., 49.,  4., 16.],
       [36., 16., 64.,  1.,  1.]])

In [49]:
np.square(arr8)

array([[25., 49., 64.,  9.,  4.],
       [36.,  0., 49.,  4., 16.],
       [36., 16., 64.,  1.,  1.]])

In [50]:
np.mean(arr8), np.max(arr8), np.min(arr8), np.std(arr8), np.var(arr8)

(4.0, 8.0, -1.0, 2.988868236194653, 8.933333333333334)

In [51]:
arr8.reshape(3,5,1)

array([[[ 5.],
        [ 7.],
        [ 8.],
        [ 3.],
        [ 2.]],

       [[ 6.],
        [ 0.],
        [ 7.],
        [ 2.],
        [ 4.]],

       [[ 6.],
        [ 4.],
        [ 8.],
        [-1.],
        [-1.]]])

In [ ]:
# Create two arrays of random integers between 0 to 10
# one of size (3, 3) the other of size (3, 2)
# Perform a dot product on the two newest arrays you created
# Create two arrays of random integers between 0 to 10
# both of size (4, 3)
# Perform a dot product on the two newest arrays you created
# Take the latest two arrays, perform a transpose on one of them and then perform 
# a dot product on them both

In [52]:
arr9 = np.random.randint(10, size = (3,3))
arr10 = np.random.randint(10, size = (3,2))
np.dot(arr9, arr10)

array([[61, 74],
       [40, 30],
       [66, 27]])

In [ ]:
#Create two arrays of random integers between 0 & 10 of the same shape
# and save them to variables
# Compare the two arrays with '>'
# Compare the two arrays with '>='
# Find which elements of the first array are greater than 7
# Which parts of each array are equal? (try using '==')
# Sort one of the arrays you just created in ascending order
# Sort the indexes of one of the arrays you just created
# Find the index with the maximum value in one of the arrays you've created
# Find the index with the minimum value in one of the arrays you've created
# Find the indexes with the maximum values down the 1st axis (axis=1)
# of one of the arrays you created
# Find the indexes with the minimum values across the 0th axis (axis=0)
# of one of the arrays you created
# Create an array of normally distributed random numbers
# Create an array with 10 evenly spaced numbers between 1 and 100v

In [56]:
arr11 = np.random.randint(10,size = (3,2))
arr12 = np.random.randint(10,size = (3,2))
arr11 > arr12, arr11>= arr12, arr11>7, arr11 == arr12

(array([[ True,  True],
        [False, False],
        [ True,  True]]),
 array([[ True,  True],
        [False, False],
        [ True,  True]]),
 array([[False, False],
        [False, False],
        [ True, False]]),
 array([[False, False],
        [False, False],
        [False, False]]))

In [57]:
np.sort(arr11), np.argsort(arr11)

(array([[4, 5],
        [5, 6],
        [4, 8]]),
 array([[0, 1],
        [0, 1],
        [1, 0]]))

In [59]:
np.argmax(arr11)

4

In [60]:
np.argmin(arr11)

0

In [61]:
np.argmin(arr11, axis =1)

array([0, 0, 1])

In [62]:
np.random.randn(3,5)

array([[-1.02617878,  0.47752547,  1.29269823, -0.73145824, -1.60540226],
       [ 0.98947618,  0.11081461, -0.38093141,  0.11495917,  0.34531264],
       [-1.73495876,  1.65835111,  2.29977152, -0.47113526,  1.26271548]])

In [63]:
np.linspace(1,100,10)

array([  1.,  12.,  23.,  34.,  45.,  56.,  67.,  78.,  89., 100.])